/* The alert message box */

.alert {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}


/* The close button */

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}


/* When moving the mouse over the close button */

.closebtn:hover {
    color: black;
}

.borderForCard {
    border: 1px solid rgba(0, 0, 0, .125);
}

@media screen and (max-width: 991px) {
    .countdownPC {
        display: none;
    }
    .shopTag {
        text-align: center;
    }
    .upperTag {
        text-align: center;
    }
    .sortPC {
        display: none;
    }
    .lowerTag {
        text-align: center;
    }
    .patternTag {
        text-align: center;
    }
}

@media screen and (min-width: 991px) {
    .countdownPH {
        display: none;
    }
    .shopTag {
        text-align: none;
    }
    .upperTag {
        text-align: none;
    }
    .sortPH {
        display: none;
    }
    .lowerTag {
        text-align: none;
    }
    .patternTag {
        text-align: none;
    }
}

.shopClicked {
    color: #f058a5 !important;
}

.upperClicked {
    color: #f058a5 !important;
}

.lowerClicked {
    color: #f058a5 !important;
}

.patternClicked {
    color: #f058a5 !important;
}