section {
    background-color: #ffffff;
}

.form-control:focus {
    box-shadow: none;
}

:focus {
    outline: none;
}

section,
.container,
.container-fluid {
    position: relative;
    word-wrap: break-word;
}

a.mbr-iconfont:hover {
    text-decoration: none;
}

.article .lead p,
.article .lead ul,
.article .lead ol,
.article .lead pre,
.article .lead blockquote {
    margin-bottom: 0;
}

a {
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

a,
a:hover {
    text-decoration: none;
}

figure {
    margin-bottom: 0;
}

body {
    color: #232323;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-4,
.display-5,
.display-7,
span,
p,
a {
    line-height: 1;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 400;
}

b,
strong {
    font-weight: bold;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition-delay: 9999s;
    transition-property: background-color, color;
}

textarea[type="hidden"] {
    display: none;
}

body {
    position: relative;
}

section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

section .mbr-background-video,
section .mbr-background-video-preview {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.hidden {
    visibility: hidden;
}

.mbr-z-index20 {
    z-index: 20;
}


/*! Base colors */

.mbr-white {
    color: #ffffff;
}

.mbr-black {
    color: #111111;
}

.mbr-bg-white {
    background-color: #ffffff;
}

.mbr-bg-black {
    background-color: #000000;
}


/*! Text-aligns */

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}


/*! Font-weight  */

.mbr-light {
    font-weight: 300;
}

.mbr-regular {
    font-weight: 400;
}

.mbr-semibold {
    font-weight: 500;
}

.mbr-bold {
    font-weight: 700;
}


/*! Media  */

.media-size-item {
    flex: 1 1 auto;
}

.media-content {
    flex-basis: 100%;
}

.media-container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: start;
}

.media-container-row .media-size-item {
    width: 400px;
}

.media-container-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
}

.media-container-column>* {
    width: 100%;
}

@media (min-width: 992px) {
    .media-container-row {
        flex-wrap: nowrap;
    }
}

figure {
    overflow: hidden;
}

figure[mbr-media-size] {
    transition: width 0.1s;
}

img,
iframe {
    display: block;
    width: 100%;
}

.card {
    background-color: transparent;
    /*border: none;*/
}

.card-box {
    width: 100%;
}

.card-img {
    text-align: center;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
}

.media {
    max-width: 100%;
    margin: 0 auto;
}

.mbr-figure {
    align-self: center;
}

.media-container>div {
    max-width: 100%;
}

.mbr-figure img,
.card-img img {
    width: 100%;
}

@media (max-width: 991px) {
    .media-size-item {
        width: auto !important;
    }
    .media {
        width: auto;
    }
    .mbr-figure {
        width: 100% !important;
    }
}


/*! Buttons */

.mbr-section-btn {
    margin-left: -0.6rem;
    margin-right: -0.6rem;
    font-size: 0;
}

.btn {
    font-weight: 600;
    border-width: 1px;
    font-style: normal;
    margin: 0.6rem 0.6rem;
    white-space: normal;
    transition: all 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
}

.btn-sm {
    font-weight: 600;
    letter-spacing: 0px;
    transition: all 0.3s ease-in-out;
}

.btn-md {
    font-weight: 600;
    letter-spacing: 0px;
    transition: all 0.3s ease-in-out;
}

.btn-lg {
    font-weight: 600;
    letter-spacing: 0px;
    transition: all 0.3s ease-in-out;
}

.btn-form {
    margin: 0;
}

.btn-form:hover {
    cursor: pointer;
}

nav .mbr-section-btn {
    margin-left: 0rem;
    margin-right: 0rem;
}


/*! Btn icon margin */

.btn .mbr-iconfont,
.btn.btn-sm .mbr-iconfont {
    order: 1;
    cursor: pointer;
    margin-left: 0.5rem;
    vertical-align: sub;
}

.btn.btn-md .mbr-iconfont,
.btn.btn-md .mbr-iconfont {
    margin-left: 0.8rem;
}

.mbr-regular {
    font-weight: 400;
}

.mbr-semibold {
    font-weight: 500;
}

.mbr-bold {
    font-weight: 700;
}

[type="submit"] {
    -webkit-appearance: none;
}


/*! Full-screen */

.mbr-fullscreen .mbr-overlay {
    min-height: 100vh;
}

.mbr-fullscreen {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
}


/*! Map */

.map {
    height: 25rem;
    position: relative;
}

.map iframe {
    width: 100%;
    height: 100%;
}


/* Form */

.form-asterisk {
    font-family: initial;
    position: absolute;
    top: -2px;
    font-weight: normal;
}


/*! Scroll to top arrow */

.mbr-arrow-up {
    bottom: 25px;
    right: 90px;
    position: fixed;
    text-align: right;
    z-index: 5000;
    color: #ffffff;
    font-size: 32px;
}

.mbr-arrow-up a {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 60px;
    width: 60px;
    outline-style: none !important;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
}

.mbr-arrow-up a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.mbr-arrow-up a i {
    line-height: 60px;
}

.mbr-arrow-up-icon {
    display: block;
    color: #fff;
}

.mbr-arrow-up-icon::before {
    content: "\203a";
    display: inline-block;
    font-family: serif;
    font-size: 32px;
    line-height: 1;
    font-style: normal;
    position: relative;
    top: 6px;
    left: -4px;
    transform: rotate(-90deg);
}


/*! Arrow Down */

.mbr-arrow {
    position: absolute;
    bottom: 45px;
    left: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: rgba(80, 80, 80, 0.5);
    border-radius: 50%;
    transform: translateX(-50%);
}

.mbr-arrow>a {
    display: inline-block;
    text-decoration: none;
    outline-style: none;
    animation: arrowdown 1.7s ease-in-out infinite;
}

.mbr-arrow>a>i {
    position: absolute;
    top: -2px;
    left: 15px;
    font-size: 2rem;
}

@keyframes arrowdown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

@-webkit-keyframes arrowdown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 500px) {
    .mbr-arrow-up {
        left: 50%;
        right: auto;
    }
}


/*Gradients animation*/

@keyframes gradient-animation {
    from {
        background-position: 0% 100%;
        animation-timing-function: ease-in-out;
    }
    to {
        background-position: 100% 0%;
        animation-timing-function: ease-in-out;
    }
}

@-webkit-keyframes gradient-animation {
    from {
        background-position: 0% 100%;
        animation-timing-function: ease-in-out;
    }
    to {
        background-position: 100% 0%;
        animation-timing-function: ease-in-out;
    }
}

.bg-gradient {
    background-size: 200% 200%;
    animation: gradient-animation 5s infinite alternate;
    -webkit-animation: gradient-animation 5s infinite alternate;
}

.menu .navbar-brand {
    display: -webkit-flex;
}

.menu .navbar-brand span {
    display: flex;
    display: -webkit-flex;
}

.menu .navbar-brand .navbar-caption-wrap {
    display: -webkit-flex;
}

.menu .navbar-brand .navbar-logo img {
    display: -webkit-flex;
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu .navbar-toggleable-sm .navbar-nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    }
}

@media (max-width: 991px) {
    .menu .navbar-collapse {
        max-height: 93.5vh;
    }
    .menu .navbar-collapse.show {
        overflow: auto;
    }
}

@media (min-width: 992px) {
    .menu .navbar-nav.nav-dropdown {
        display: -webkit-flex;
    }
    .menu .navbar-toggleable-sm .navbar-collapse {
        display: -webkit-flex !important;
    }
    .menu .collapsed .navbar-collapse {
        max-height: 93.5vh;
    }
    .menu .collapsed .navbar-collapse.show {
        overflow: auto;
    }
}

@media (max-width: 767px) {
    .menu .navbar-collapse {
        max-height: 80vh;
    }
}

.nav-link .mbr-iconfont {
    margin-right: .5rem;
}

.navbar {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
}

.navbar-collapse {
    -webkit-flex-basis: 100%;
    -webkit-flex-grow: 1;
    -webkit-align-items: center;
}

.nav-dropdown .link {
    padding: 0.667em 1.667em !important;
    margin: 0 !important;
}

.nav {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
}

.row {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
}

.justify-content-center {
    -webkit-justify-content: center;
}

.form-inline {
    display: -webkit-flex;
}

.card-wrapper {
    -webkit-flex: 1;
}

.carousel-control {
    z-index: 10;
    display: -webkit-flex;
}

.carousel-controls {
    display: -webkit-flex;
}

.media {
    display: -webkit-flex;
}

.form-group:focus {
    outline: none;
}

.jq-selectbox__select {
    padding: 7px 0;
    position: relative;
}

.jq-selectbox__dropdown {
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 0 !important;
    width: 100% !important;
}

.jq-selectbox__trigger-arrow {
    right: 0;
    transform: translateY(-50%);
}

.jq-selectbox li {
    padding: 1.07em 0.5em;
}

input[type="range"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.modal-dialog,
.modal-content {
    height: 100%;
}

.modal-dialog .carousel-inner {
    height: calc(100vh - 1.75rem);
}

@media (max-width: 575px) {
    .modal-dialog .carousel-inner {
        height: calc(100vh - 1rem);
    }
}

.carousel-item {
    text-align: center;
}

.carousel-item img {
    margin: auto;
}

.navbar-toggler {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.navbar-toggler-left {
    position: absolute;
    left: 1rem;
}

.navbar-toggler-right {
    position: absolute;
    right: 1rem;
}

@media (max-width: 575px) {
    .navbar-toggleable .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
    .navbar-toggleable>.container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 576px) {
    .navbar-toggleable {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    .navbar-toggleable .navbar-nav {
        flex-direction: row;
    }
    .navbar-toggleable .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-toggleable>.container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .navbar-toggleable .navbar-collapse {
        display: flex !important;
        width: 100%;
    }
    .navbar-toggleable .navbar-toggler {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-toggleable-sm .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
    .navbar-toggleable-sm>.container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .navbar-toggleable-sm {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    .navbar-toggleable-sm .navbar-nav {
        flex-direction: row;
    }
    .navbar-toggleable-sm .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-toggleable-sm>.container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .navbar-toggleable-sm .navbar-collapse {
        display: none;
        width: 100%;
    }
    .navbar-toggleable-sm .navbar-toggler {
        display: none;
    }
}

@media (max-width: 991px) {
    .navbar-toggleable-md .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
    .navbar-toggleable-md>.container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 992px) {
    .navbar-toggleable-md {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    .navbar-toggleable-md .navbar-nav {
        flex-direction: row;
    }
    .navbar-toggleable-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-toggleable-md>.container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .navbar-toggleable-md .navbar-collapse {
        display: flex !important;
        width: 100%;
    }
    .navbar-toggleable-md .navbar-toggler {
        display: none;
    }
}

@media (max-width: 1199px) {
    .navbar-toggleable-lg .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
    .navbar-toggleable-lg>.container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 1200px) {
    .navbar-toggleable-lg {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    .navbar-toggleable-lg .navbar-nav {
        flex-direction: row;
    }
    .navbar-toggleable-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-toggleable-lg>.container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .navbar-toggleable-lg .navbar-collapse {
        display: flex !important;
        width: 100%;
    }
    .navbar-toggleable-lg .navbar-toggler {
        display: none;
    }
}

.navbar-toggleable-xl {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.navbar-toggleable-xl .navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.navbar-toggleable-xl>.container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-toggleable-xl .navbar-nav {
    flex-direction: row;
}

.navbar-toggleable-xl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.navbar-toggleable-xl>.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.navbar-toggleable-xl .navbar-collapse {
    display: flex !important;
    width: 100%;
}

.navbar-toggleable-xl .navbar-toggler {
    display: none;
}

.card-img {
    width: auto;
}

.menu .navbar.collapsed:not(.beta-menu) {
    flex-direction: column;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
    bottom: initial !important;
}

html,
body {
    height: auto;
    min-height: 100vh;
}

.dropup .dropdown-toggle::after {
    display: none;
}

.mbr-section-title {
    font-style: normal;
    line-height: 1.3;
}

.mbr-section-subtitle {
    line-height: 1.3;
}

.mbr-text {
    font-style: normal;
    line-height: 1.7;
}

body {
    font-style: normal;
    line-height: 1.5;
    font-weight: 400;
}

#scrollToTop a i::before {
    content: "";
    position: absolute;
    display: block;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    width: 40%;
    height: 40%;
    left: 50%;
    top: 50%;
    -webkit-transform: rotate(135deg);
    transform: translateY(-30%) translateX(-50%) rotate(135deg);
}


/* Others*/

.note-check a[data-value="Rubik"] {
    font-style: normal;
}

.mbr-arrow a {
    color: #ffffff;
}

@media (max-width: 767px) {
    .mbr-arrow {
        display: none;
    }
}

.form-control-label {
    position: relative;
    cursor: pointer;
    margin-bottom: 0.357em;
    padding: 0;
}

.alert {
    color: #ffffff;
    border-radius: 0;
    border: 0;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1.875rem;
    padding: 1.25rem;
    position: relative;
    text-align: center;
}

.alert.alert-form::after {
    background-color: inherit;
    bottom: -7px;
    content: "";
    display: block;
    height: 14px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    transform: rotate(45deg);
    width: 14px;
}

.form-control {
    background-color: #ffffff;
    background-clip: border-box;
    color: #232323;
    line-height: 1rem !important;
    height: auto;
    padding: 0.6rem 1.2rem;
    transition: border-color 0.25s ease 0s;
    border: 1px solid transparent !important;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
}

.form-active .form-control:invalid {
    border-color: red;
}

form .row {
    margin-left: -0.6rem;
    margin-right: -0.6rem;
}

form .row [class*="col"] {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

form .mbr-section-btn {
    margin: 0;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

form .btn {
    display: flex;
    padding: 0.6rem 1.2rem;
    margin: 0;
}

form .form-check-input {
    margin-top: .5;
}

textarea.form-control {
    line-height: 1.5rem !important;
}

.form-group {
    margin-bottom: 1.2rem;
}

.form-control,
form .btn {
    min-height: 48px;
}

.mbr-overlay {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    pointer-events: none;
}

blockquote {
    font-style: italic;
    padding: 3rem;
    font-size: 1.09rem;
    position: relative;
    border-left: 3px solid;
}

ul,
ol,
pre,
blockquote {
    margin-bottom: 2.3125rem;
}

pre {
    background: #f4f4f4;
    padding: 10px 24px;
    white-space: pre-wrap;
}

.inactive {
    user-select: none;
    pointer-events: none;
    user-drag: none;
}

.mbr-section__comments .row {
    justify-content: center;
}

.mt-4 {
    margin-top: 2rem !important;
}

.mb-4 {
    margin-bottom: 2rem !important;
}

@media (min-width: 992px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
    .row {
        margin-left: -16px;
        margin-right: -16px;
    }
    .row>[class*="col"] {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 768px) {
    .container-fluid {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .mbr-container {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 767px) {
    .mbr-container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.card-wrapper,
.item-wrapper {
    overflow: hidden;
}

.app-video-wrapper>img {
    opacity: 1;
}


/*# sourceMappingURL=style.css.map */

.engine {
    position: absolute;
    text-indent: -2400px;
    text-align: center;
    padding: 0;
    top: 0;
    left: -2400px;
}